//Heading
@mixin heading-05 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
}
//Sub-heading
@mixin sub-heading-03 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
}
//label
@mixin label-large {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
}
@mixin label-medium {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
}
@mixin label-regular {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
}
@mixin label-tiny {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    text-transform: uppercase;
}
//body
@mixin body-3x-large-500 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
}
@mixin body-3x-large-400 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
}
@mixin body-2x-large-500 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
}
@mixin body-2x-large-400 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}
@mixin body-xtra-large-500 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
}
@mixin body-xtra-large-400 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
}
@mixin body-large-500 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}
@mixin body-large-400 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
@mixin body-regular-500 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
}
@mixin body-regular-400 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
}
@mixin body-small-500 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
}
@mixin body-small-400 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
}
@mixin body-tiny-500 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 10px;
    line-height: 120%;
}
@mixin body-tiny-400 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
}
